<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo de Select</title>
    <link rel="stylesheet" href="..//static//style5.css">
</head>
<body>
    <form  action="/Times" method="post">

        <label for="Times">Escolha o campeão: </label>
        <select id="Times" name="campeao">
            <option value="Flamengo">Flamengo</option>
            <option value="Corinthians">Corinthians</option>
            <option value="Palmeiras">Palmeiras</option>
            <option value="Cruzeiro">Cruzeiro</option>
        </select>
           <div class="form-group">
                <button type="submit">Salvar</button>

                    <p> <a href="/verificarlogin"> Voltar para pagina principal.</a>
                    </p>
            </div>

    </form>

</body>
</html>


