<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Brasileirão 2024</title>
    <link rel="stylesheet" href="../static/style.css">

</head>

<body>

    <div class="login-container">
        <h1>Login</h1>
        <form action="/verificarlogin" method="post">
            <input type="text" name="username" placeholder="Usuário" required>
            <input type="password" name="password" placeholder="Senha" required>
            <button type="submit">Entrar</button>
        </form>
        <a href="/pagina_cadastro">Não tem uma conta? Registre-se</a>
        <a href="forgot-password.html">Esqueceu sua senha?</a>
        <a style="color: red">{{msg}}</a>
    </div>
</body>
</html>
